<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>USERS</title>
</head>
<body>
    <div class="container">
        <h1>USERS</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>id</th>
                    <th>First_name</th>
                    <th>Last_name</th>
                    <th>Email</th>
                    <th>Registered By</th>
                    <th>updated_at</th>
                    <th>option</th>
                </tr>
            </thead>
            <tbody>
                {% for user in all_users %} {# note all_users from server py line 12 #}
                <tr>
                    <td><a href="/users/{{ user.id }}">{{ user.id }}</a></td>
                    <td><a href="/users/{{ user.id }}">{{ user.first_name }}</a></td>
                    <td><a href="/users/{{ user.id }}">{{ user.last_name }}</a></td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td>{{ user.updated_at }}</td>
                    <td>
                        <a href="/users/{{ user.id }}" class="btn btn-primary">Detail</a>
                        <a href="/users/{{ user.id }}/update_user" class="btn btn-primary">Update</a>
                        <a href="/users/{{ user.id }}/remove" class="btn btn-primary">Remove</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="/users/add_page" class="btn btn-primary">add user</a>
    </div>
</body>
</html>