<!doctype html>
<html lang="en">
    <head>
    <title>Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="header d-flex justify-content-between">
                <!-- step 1 for render condition -->
                <!-- logged_use include the info from the user id -->
                <!-- refer to constructor function in recipe model -->
                <h1>Welcome! {{ logged_user.first_name.upper() }}</h1>
                <div class="d-flex justify-content-around">
                    <a class="m-3" href="/recipes/form">Create</a>
                    <a class="m-3" href="/logout">Log out</a>
                </div>
            </div>
            <div class="main">
                <h3>These are the recipes</h3>
                <!-- user info display -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Under 30 minutes?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for recipe in logged_user.recipes %}
                        <tr>
                            <td>{{ recipe.name }}</td>
                            <td>{{ recipe.under_30 }}</td>
                            <td class="d-flex justify-content-around">
                                <a href="/recipes/{{ recipe.id }}">View instructions</a>
                                <!-- step 3 for render condition -->
                                <!-- compared the user id and recipe of user id -->
                                <a href="/recipes/{{ recipe.id }}/edit">Edit</a>
                                <a href="/recipes/{{ recipe.id }}/delete">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>

