<!doctype html>
<html lang="en">
    <head>
    <title>Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="header d-flex justify-content-between">
                <!-- step 1 for render condition -->
                <!-- logged_use include the info from the user id -->
                <!-- refer to constructor function in recipe model -->
                <h1>Welcome! {{ recipe.user.first_name }}</h1>
                <div class="d-flex justify-content-around">
                    <a class="m-3" href="/dashboard">Dashboard</a>
                    <a class="m-3" href="/logout">Log out</a>
                </div>
            </div>
            <div class="main">
                <h3>Dish - {{ recipe.name }}</h3>
                <table class="table">
                    <tbody>
                        <tr>
                            <td scope="row" class="col-3">Description</td>
                            <td>{{ recipe.description }}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="col-3">Under 30 minutes</td>
                            <td>{{ recipe.under_30 }}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="col-3">Instruction</td>
                            <td>{{ recipe.instruction }}</td>
                        </tr>
                        <tr>
                            <td scope="row" class="col-3">Date Made</td>
                            <td>{{ recipe.data_made_on }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </body>
</html>