<!doctype html>
<html lang="en">
    <head>
    <title>Recipe</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="header">
                <div class="header d-flex justify-content-between">
                    <h1>Update {{ recipe.name }}</h1>
                    <div class="d-flex justify-content-around">
                        <a class="m-3" href="/dashboard">Dashboard</a>
                        <a class="m-3" href="/logout">Log out</a>
                    </div>
                </div>
                <form action="/recipes/update" method="post" class="form-group body d-flex justify-content-around">
                    <div class="left">
                        <label for="recipe_name">Name</label>
                        <input type="text" name="recipe_name" id="" class="form-control" value="{{ recipe.name }}">
                        <label for="recipe_description">Description</label>
                        <textarea class="form-control" name="recipe_description" id="" rows="3">{{ recipe.description }}</textarea>
                        <label for="recipe_instruction">Instruction</label>
                        <textarea class="form-control" name="recipe_instruction" id="" rows="3">{{ recipe.instruction }}</textarea>
                    </div>
                    <div class="right">
                        <label for="data_made_on">Date Made On</label>
                        <input type="date" name="data_made_on" id="" value="{{ recipe.data_made_on }}">
                        <div>
                            <label for="under_30">Under 30 Minutes?</label>
                            {% if recipe.under_30 == "yes" %}
                                <input type="radio" name="under_30" id="" value="yes" checked>
                                <label for="under_30">Yes</label>
                                <input type="radio" name="under_30" id="" value="no">
                                <label for="under_30">No</label>
                            {% else %}
                                <input type="radio" name="under_30" id="" value="yes">
                                <label for="under_30">Yes</label>
                                <input type="radio" name="under_30" id="" value="no" checked>
                                <label for="under_30">No</label>
                            {% endif%}
                        </div>
                        <button type="submit" class="btn btn-primary">Update</button>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                <p style="color: red;">{{ message }}</p>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>