<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    </head>
    <body>
        <div class="container">
            <h1 class="text-center">{{ dojos.name }}</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Age</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for ninja in dojos.ninjas %}
                            <tr>
                                <td>{{ ninja.first_name }}</td>
                                <td>{{ ninja.last_name }}</td>
                                <td>{{ ninja.age }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            <a href="/ninjas/form" class="btn">Add Ninja</a>
            <a href="/" class="btn">Home</a>
        </body>
    </div>
</html>